.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  .signin-button-group {
    display: flex;
    justify-content: space-between;

    .custom-button-container {
      height: 4rem;

      &:nth-child(1) {
        margin-right: 1rem;
      }
      &:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .signin {
    margin: 0;
  }
}
