.signin {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem 0;

  .signin-button-group {
    display: flex;
    justify-content: space-between;

    .custom-button {
      height: 4rem;

      &:nth-child(1) {
        margin-right: 1rem;
      }
      &:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
}

