.form-text-area-group {
  display: flex;
  flex-direction: column;

  .form-text-area-label {
    color: var(--color-dark);
    font-weight: bold;
  }

  .form-text-area {
    border: 1px solid var(--color-dark);
  }
}
