@import '../../scss/colors';

.form-text-area-group {
  display: flex;
  flex-direction: column;

  .form-text-area-label {
    color: $darker-color;
    font-weight: bold;
  }

  .form-text-area {
    border: 1px solid $darker-color;
  }
}
