@import '../../../../scss/colors';

.event-listing {
  padding: 0;

  a {
    color: black;
    font-weight: normal;
  }

  .event-listing-not-found {
    margin-top: 5rem;
    text-align: center;
    color: $darker-color;
  }
}
