@import '../../../../scss/colors';

.event-list {
  flex: 1 0 auto;
  padding: 0;

  a {
    color: black;
    font-weight: normal;
  }

  .event-list-not-found {
    margin-top: 5rem;
    text-align: center;
    color: $darker-color;
  }
}
