.manage-events-card {
  border-bottom: 1px solid lightgrey;
  padding: 4px 0.5rem;

  .manage-events-card-unpublished {
    color: var(--color-warning);
    font-size: 0.9em;
    font-weight: bold;
  }

  .manage-events-card-canceled,
  .manage-events-card-past-event {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }

  .manage-events-card-canceled {
    color: var(--color-warning);
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:first-child {
      padding-left: 0;
      align-items: center;
    }

    &:nth-child(2) {
      padding: 0;
    }
    &:nth-child(3) {
      padding-right: 0;

      .custom-button {
        &:first-child {
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}
