@import '../../../scss/colors';

.date-time-form {
  height: 75vh;
}

.date-time-input-group {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;

  .form-input-group {
    margin-top: 0;

    .form-input {
      margin-top: 0;
    }
  }

  [class$='label'] {
    color: $darker-color;
    font-weight: bold;
  }
}
