@import '../../../scss/colors';

.date-time-input-group {
  .form-input-group {
    margin-top: 0;

    .form-input {
      margin-top: 0;
    }
  }

  [class$='label'] {
    color: $darker-color;
    font-weight: bold;
  }
}
