.photo-upload-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .photo-upload-form {
    input {
      margin-bottom: 0.5rem;
    }
  }

  .photo-upload-controls {
    display: flex;
    justify-content: space-between;
    button {
      width: 48%;
    }
  }

  img {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-bottom: 1rem;
  }
}
