@import '../../scss/colors';

.custom-table-container {
  padding: 0;
  min-height: 5rem;
  max-width: 100%;

  &.table-grow {
    flex: 1 0 auto;
  }

  &.table-border {
    border: 1px solid lightgray;
    border-bottom: none;
  }

  .custom-table {
    display: flex;
    flex-direction: column;

    tr {
      width: 100%;
    }

    thead {
      tr {
        background-color: $darker-color;
        color: white;
        font-weight: bold;
      }
    }

    tbody {
      max-height: 50vh;
      overflow-y: scroll;

      tr {
        height: 4rem;
        align-items: center;
      }
    }

    tr {
      flex-wrap: nowrap;

      &:nth-child(even) {
        background-color: $lightest-color;
      }

      &.selected {
        background-color: $selected-color;
      }
    }

    th {
      text-align: start;
    }

    th,
    td {
      &.centered {
        text-align: center;
      }
    }
  }
}
