.loading-resource {
  text-align: center;
  position: relative;
  top: 10rem;
}

.loading-spinner {
  color: #00701a;
  font-size: 1.25em;
}

.loading-text {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: #00701a;
}
