@import '../../../scss/colors';

.location-form {
  .location-form-header {
    margin-bottom: 1rem;
  }

  .address-label {
    color: $darker-color;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
  }

  .form-input-group {
    margin-top: 0;

    .form-input {
      margin-top: 0;
    }
  }

  .location-map {
    margin-bottom: 1rem;
  }
}
