@import '../../scss/colors';
@import '../../scss//fade-in.scss';

.response {
  @include fade-in(0.5s);

  &.response-error {
    min-height: 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1em;
    color: darkred;
  }

  &.response-message {
    min-height: 1rem;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 1em;
    color: $darker-color;
  }
}
