@import '../../../scss/colors';

.tier-list-container {
  margin: 1rem 0;

  .tier-list {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid $darker-color;
    padding: 0.25rem;

    .tier-list-empty {
      text-align: center;
      color: $darker-color;
      font-weight: bold;
      position: relative;
      top: 40%;
    }

    .tier-list-item {
      width: 100%;
      list-style-type: none;

      &.tier-edit {
        background-color: $main-color;
        color: white;
        font-weight: bold;
        padding-left: 0.25rem;
      }
    }
  }
}
