@import '../../../scss/colors';

.manage-ticket-table {
  width: 100%;

  .manage-ticket-table-header {
    background-color: $darker-color;
    color: white;
  }

  tr {
    :nth-child(2) {
      text-align: center;
    }
  }

  .manage-ticket-row:nth-child(even) {
    background-color: $lightest-color;
  }
}
