main.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;

  .error {
    width: 100%;
    text-align: center;

    h1 {
      color: #00701a;
      font-weight: bold;
    }

    &.error-message,
    h2 {
      font-size: 1.25em;
    }
  }

  .error-controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 0 2rem;

    button {
      width: 48%;
    }
  }
}
