.event-photo-modal {
  text-align: center;

  h1 {
    margin-bottom: 0;
  }
}

.modal-photo {
  width: 100%;
}

.event-listing {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  .event-details-header {
    padding-bottom: 1rem;
    background: linear-gradient(white 9rem, var(--color-light));
    border-bottom: 1px solid var(--color-dark);

    h1 {
      font-size: 1.75em;

      &.event-header-name {
        margin: 0;

        & + p {
          margin-bottom: 0;
        }
      }
    }

    .event-image-container {
      padding: 0;

      .event-image-background {
        width: 100%;
        height: 12.5rem;
        text-align: center;
        background-color: black;

        .event-header-image {
          height: 100%;
          max-width: 100%;
          object-fit: cover;

          &.streamed-image-loading {
            background-image: linear-gradient(
              to left,
              black,
              black,
              var(--color-main) 75%
            );
          }
        }
      }
    }

    .event-edit-type-category {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h2 {
        display: inline;
        font-size: 1em;
        font-weight: bold;
        margin-right: 0.5em;
      }
    }

    .event-header-date {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    .event-header-price-display {
      font-weight: bold;
      text-align: end;
    }
  }

  .event-book-button {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 5rem;
    background: white;

    &.book-button-sticky {
      position: sticky;
      top: 1px;
      z-index: 1;
    }
  }

  .event-details-body {
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    flex: 1 0 auto;

    p {
      margin: 0;
    }

    [class^='col'] {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 1.25em;
      font-weight: bold;
    }

    header {
      display: flex;
      margin-bottom: 0.5rem;

      svg {
        position: relative;
        top: 4px;
        margin-right: 0.5rem;
      }
    }

    .event-details-past-event {
      color: darkred;
      font-weight: bold;
    }

    .event-description {
      p {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .event-details-header {
      height: 18rem;

      & > div {
        &.event-image-container .event-image-background {
          height: 18rem;
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          row-gap: 1rem;
          padding: 2rem;

          .event-header-date {
            margin-top: 0;
            margin-bottom: 2rem;
          }

          .event-header-price-display {
            position: absolute;
            bottom: 2rem;
          }
        }
      }
    }
  }
}
