.hero {
  position: static;
  height: calc(100vh - 56px);
  background: linear-gradient(to right, rgb(20, 0, 77), rgb(0, 0, 0));
  color: white;

  h1 {
    padding: 1rem 0 0 1rem;
    font-size: 1.5em;
  }

  p {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 85vh;
    width: 100%;
    font-size: em;
    text-align: center;
  }
}
