@import '../../scss/colors';

.manage-booking-page {
  display: flex;
  flex-direction: column;

  .manage-booking-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    & > div {
      margin-bottom: 1rem;
    }

    .manage-booking-label {
      font-weight: bold;
      margin-right: 0.5rem;
    }

    .manage-booking-bookings {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      .custom-table-container {
        margin-bottom: 1rem;

        .manage-booking-table-refund-requested {
          color: $warning;
          font-weight: bold;
        }
      }

      .manage-booking-select-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 0.5rem;

        button {
          height: 2rem;
          width: 33%;

          &:first-child {
            margin-right: 0.5rem;
          }
        }
      }

      .manage-booking-controls {
        display: flex;
        justify-content: space-between;

        button {
          width: 49%;
        }
      }
    }
  }
}
