@import '../../scss/colors';

.my-events-page {
  display: flex;
  flex-direction: column;

  .my-events-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .my-events-list {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      .manage-events-list {
        flex: 1 1 auto;
        border: 1px solid black;
        padding-top: 0.5rem;

        .manage-events-none {
          text-align: center;
          top: 5rem;
          position: relative;
          font-size: 1.5em;
        }
      }
    }

    .highlighted {
      background-color: hsl(119, 51%, 85%);
    }
  }
}

@media screen and (min-width: 992px) {
  .my-events-page {
    .my-events-content {
      flex-direction: row;
      flex-wrap: nowrap;

      .my-events-list {
        height: 75vh;
        padding: 0;
        margin-top: 57px;
        margin-right: 15px;
        overflow-x: hidden;
      }
    }
  }
}
