.name-type-category-form {
  .create-event-name-title {
    margin-bottom: 0;
  }

  .create-event-category-format {
    div {
      margin: 1rem 0;
    }
  }

  .create-event-total-capacity {
    div {
      margin-bottom: 0.5rem;
    }
  }

  .create-event-capacity-description {
    margin-bottom: 2rem;
  }
}
