.calendar-nav {
  button {
    display: inline;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: 2rem;
    width: 85px;
  }

  div {
    display: inline;
    font-weight: bold;
  }

  margin: 1rem 0;
  text-align: left;
}

.calendar-body {
  margin-bottom: 1rem;
  max-height: 50vh;
  overflow-y: scroll;
  border: 1px solid black;
}

[class*='rc-border'] {
  border: 1px solid lightgray;
}

.calendar-day {
  & > div {
    height: 10rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.calendar-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.calendar-event-time {
  font-weight: bold;
  font-size: 0.8em;
}

.calendar-event-title {
  font-weight: bold;
  font-size: 0.9em;
}

@media screen and (min-width: 992px) {
  .calendar-body {
    max-height: 100vh;
    overflow-y: auto;
  }
}
