.calendar-nav {
  button {
    display: inline;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: 2rem;
    width: 85px;
  }

  div {
    display: inline;
    font-weight: bold;
  }

  margin: 1rem 0;
  text-align: left;
}

.calendar-body {
  .grid {
    display: grid;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .p-2 {
    padding: 0.5rem !important;
  }

  .border-b-2 {
    border-bottom: 2px solid lightgray;
  }

  .border-r-2 {
    border-right: 2px solid lightgray;
  }

  .hidden {
    display: none;
  }

  border: 1px solid black;
  max-height: 50vh;
  overflow-y: scroll;

  .grid > div {
    height: 6rem;

    & > .flex {
      display: flex;
      justify-content: flex-start;

      div {
        &:nth-child(2) {
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.font-bold {
          font-weight: bold;
          margin-right: 0.5rem;
        }
      }
    }

    ul {
      overflow-x: hidden;
      overflow-y: scroll !important;
      height: 3.5rem;
      padding: 0;

      li {
        list-style: none;
        border-bottom: 1px solid lightgray;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          line-height: 1em;
        }

        h3 {
          font-size: 1em;
          order: 2;
        }

        p {
          color: var(--color-dark);
          font-weight: bold;
          order: 1;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .calendar-body {
    .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media screen and (min-width: 768px) {
  .calendar-body {
    max-height: none;
    overflow-y: visible;

    .md\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 1024px) {
    .calendar-body {
      .lg\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
      }

      .lg\:block {
        display: block;
      }

      .lg\:hidden {
        display: none;
      }
    }
  }
}
