.confirm-booking-page {
  display: flex;
  flex-direction: column;

  header {
    margin-bottom: 1rem;
  }

  .confirm-booking-cart {
    flex: 1 0 auto;

    .confirm-booking-table {
      width: 100%;
    }
  }

  .confirm-booking-totals {
    margin-bottom: 1rem;
    text-align: end;

    .confirm-booking-total {
      font-weight: bold;
    }
  }

  .confirm-booking-stripe-warning {
    text-align: center;
    color: var(--color-warning);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .loading-spinner {
    top: 0;
  }
}
