.form-dropdown-group {
  margin-bottom: 2rem;

  .form-dropdown-label {
    font-weight: bold;
    color: var(--color-dark);
  }
  .form-dropdown {
    display: block;
    height: 2.5rem;
    font-weight: bold;
    border: 1px solid var(--color-dark);
    background: none;
  }
}
