.user-name-picture {
  color: white;
  font-size: 1rem;
  font-weight: bold;

  img {
    width: 2rem;
    height: 2rem;
    vertical-align: -0.7rem;
    margin-left: 0.5rem;
    border-radius: 2rem;
  }
}
