@import '../../../scss/colors';

.ticket-tiers-form {
  .online-input-group {
    display: flex;
    flex-direction: column;

    .online-input-label {
      color: $darker-color;
      font-weight: bold;
      margin-bottom: 0;
      text-align: center;

      & + .form-input-group {
        margin-top: 0;
        text-align: center;

        .form-input {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .ticket-tiers-message {
    min-height: 1rem;
  }

  .form-input-group {
    margin: 1.25rem 0;

    .form-input {
      margin: 0;
    }
  }

  .ticket-tiers-name-group {
    .form-input-group {
      margin-top: 0.5rem;
    }
  }
}
