@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

main.container-fluid {
  position: relative;
  min-height: calc(100vh - 56px);
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 0;
  border: 1px solid lightgrey;
  border-top: none;
  border-bottom: none;
}

.app {
  height: 100%;
}

div.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}
