@import '~bootstrap/scss/bootstrap';

main.container-fluid {
  position: relative;
  min-height: calc(100vh - 56px);
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
}

div.container-fluid {
  margin: 0;
  padding: 0;
}
