/* CSS Variables */
:root {
  --color-main: #43a047;
  --color-dark: #00701a;
  --color-light: #76d275;
  --color-lighter: hsl(119, 51%, 85%);
  --color-selected: hsl(203, 51%, 85%);
  --color-warning: #940e00;
  --color-warning-light: #cb5855;
}

html {
  margin-bottom: 0px;
  /* overflow: hidden; */
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  min-height: 100vh;
  background-color: #e9e9e9;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
