@import '../../scss/colors';

main.homepage {
  padding: 0;
  overflow: hidden;

  .homepage-description {
    margin: 0.5rem 0;
  }

  .homepage-location-buttons {
    div {
      padding: 0;
    }
  }

  .event-listing {
    min-height: 71vh;
  }
}
