.event-card {
  min-height: 6.5rem;
  border-bottom: 1px solid black;

  [class*='col'] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  img {
    width: 75px;
    height: 75px;
    align-items: center;

    object-fit: cover;
  }

  .event-card-name-date {
    font-weight: bold;
    padding: 0 0 0 0.5rem;
  }

  .event-card-price-icons {
    padding-left: 0.5rem;

    .event-card-price,
    .event-card-sold-out {
      width: 100%;
      color: #00701a;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }

    .event-card-icons {
      display: flex;
      justify-content: space-around;
    }

    div {
      padding: 0;
    }

    text-align: center;
  }
}
