@import '../../../../scss/colors';

.event-card {
  min-height: 6.5rem;
  border-bottom: 1px solid black;

  [class*='col'] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:first-child {
      align-items: center;
    }
  }

  img {
    max-width: 75px;
    max-height: 75px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
  }

  .event-card-name-date {
    font-weight: bold;
    padding: 0 0 0 0.5rem;
  }

  .event-card-price-icons {
    padding-left: 0.5rem;

    .event-card-price,
    .event-card-sold-out,
    .event-card-canceled {
      width: 100%;
      color: $darker-color;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }

    .event-card-canceled {
      color: $warning;
    }

    .event-card-icons {
      display: flex;
      justify-content: space-around;
    }

    div {
      padding: 0;
    }

    text-align: center;
  }
}
