.custom-button {
  height: 3rem;
  width: 100%;
  letter-spacing: 0.5px;
  font-size: 1em;
  background-color: var(--color-dark);
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--color-main);
  }

  &.warning {
    background: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-light);
    }
  }
}
